@import "tailwindcss";

@theme {
  --color-background: #0B0B0C;
  --color-on-background: #FAFAFA;
  --color-primary: #ffffff;
  --color-on-primary: #2f3131;
  --color-surface: #141313;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #A1A1AA;
  --color-outline-variant: #2A2A2F;
  --color-outline: #8e9192;
  --color-surface-container-low: #111113;
  --color-surface-container: #18181B;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353434;
  --color-surface-container-lowest: #0e0e0e;
  --color-secondary-container: #201f1f;
  
  --font-mono-code: "Geist Mono", monospace;
}

body {
  background-color: #0B0B0C;
  color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .matte-card {
    background-color: #18181B;
    border: 1px solid #2A2A2F;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .matte-card:hover {
    border-color: #FAFAFA;
  }
  
  .divider {
    background-color: #2A2A2F;
    height: 1px;
    width: 100%;
  }

  /* Custom scrollbar design for the dark theme */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0B0B0C;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2A2A2F;
    border-radius: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #71717A;
  }
}